@charset "utf-8";
/* 头部 */

/*-------------------------导航条 start-------------------------*/
*{
	margin:0;
	padding:0;
}
.myWrap{
	position:relative;
	width:100%;
	height:100%;
	box-sizing: border-box;
	background:#000;
	padding-top:60px;
}
#box{
	position:Fixed;
	background:#000;
	z-index: 999;
	top:0;
	left:0;
	width:100%;
	height:60px;
}
.list{
	position:absolute;
	top:0;
	left:0;
	width:20%;
	height:60px;
}
.listcus{
	position:absolute;
	top:0;
	left:20%;
	height:60px;
	width:80%;
	border:1px solid #000;
	transform-style:preserve-3d;
	position:relative;
	margin:0;
}
.list .title-item{
	position:absolute;
	width:100%;
	height:100%;
	list-style:none;
	text-align:center;
	border:1px solid #ccc;
	height:60px;
	font: 20px/60px "微软雅黑";
	box-sizing:border-box;
	overflow:hidden;
}
.listcus .title-item{
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	text-align:center;
	width:25%;
	height:60px;
	font: 20px/60px "微软雅黑";
	border:1px solid #ccc;
	box-sizing:border-box;
	overflow:hidden;
}
.list .back{
	width:100%;
	color:#fff;
	background:#000;
}

.listcus div,.listcus span{
	width:100%;
	height:60px;
	position:absolute;
	top:0;
	left:0;
	line-height:60px;
	border:1px solid #fff;
	box-sizing:border-box;
}
.listcus li .positive{
	background:#fff;
	transform-origin:50% 50% -85px;
	transition:all 0.3s ease;
	color:#000;
}
.listcus li .back{
	background:#000;
	transform:rotateX(90deg);
	transform-origin:50% 50% -170px;
	transition:all 0.1s ease;
	color:#fff;
}
.listcus li:hover .positive{
	transform:rotateX(-180deg);
}

.listcus li:hover .back{
	transform:rotateX(0);
}

/*-------------------------导航条 end-------------------------*/

/*--------------------------------------------------------------------*/

/* 首页 */

@-webkit-keyframes phone{
	to{ top:500px; opacity:1; }
}
@-moz-keyframes phone{
	to{ top:500px; opacity:1; }
}
@-ms-keyframes phone{
	to{ top:500px; opacity:1; }
}

@-webkit-keyframes shadow{
	to{ opacity:1; }	
}
@-moz-keyframes shadow{
	to{ opacity:1; }	
}
@-ms-keyframes shadow{
	to{ opacity:1; }	
}

@-webkit-keyframes big-tree {
	to{ top:-80px;opacity:1;  }	
}
@-moz-keyframes big-tree {
	to{ top:-80px;opacity:1;  }	
}
@-ms-keyframes big-tree {
	to{ top:-80px;opacity:1;  }	
}

@-webkit-keyframes small-tree {
	to{ top:-60px; opacity:1;  }	
}
@-moz-keyframes small-tree {
	to{ top:-60px; opacity:1;  }	
}
@-ms-keyframes small-tree {
	to{ top:-60px; opacity:1;  }	
}

@-webkit-keyframes other-tree {
	to{ top:-50px; opacity:1;  }	
}
@-moz-keyframes other-tree {
	to{ top:-50px; opacity:1;  }	
}
@-ms-keyframes other-tree {
	to{ top:-50px; opacity:1;  }	
}
.wrap-content{
	height:1000px;
	background:#000;
}
.h-text {
    position: absolute;
    top: 100px;
    left: 55%;
    margin-left: -278px;
}
.h-text div {
    float: left;
    padding: 0 4px;
}
.h-text img{
	opacity: 0;
	animation:3s 3s changeOpacity ease-in-out;
}

@keyframes changeOpacity{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.4;
	}
	20%{
		opacity:1;
	}
}
.h-cont{ position:relative; height:100%; width:672px;margin:0 auto;}

/*  视频窗口大小  */
.my-video-dimensions{
	width:672px;
	height:378px;
	overflow-y:hidden;
}

/*------------------------------手机端 start------------------------------*/
.m-cont { width:100%; height:100%; position:relative; }
.m-picture { width:100%; height:100%; }
/*-----------------------------旋转木马 start---------------------------------*/
.pic{
	width: 120px;
	height: 180px;
	margin: 150px auto 0;
	position: relative;
	/*transform 旋转元素*/
	transform-style:preserve-3d;
	transform:perspective(800px) rotateX(-10deg) rotateY(0deg);
}
.pic img{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #fff;
	/*倒影的设置*/
	-webkit-box-reflect:below 10px -webkit-linear-gradient(top,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%);
}
.pic p{
	width: 1200px;
	height: 1200px;
	background: -webkit-radial-gradient(center center,600px 600px,rgba(255,255,255,.5),rgba(0,0,0,0));
	position: absolute;
	top:100%;left:50%;
	margin-top: -600px;
	margin-left: -600px;
	border-radius:600px;
	transform:rotateX(90deg);
}
/*-----------------------------旋转木马 start---------------------------------*/
/* 按钮 */
.m-btn { position:absolute; bottom:0; left:0; width:100%; height:192px; overflow:hidden;}
.m-left { position: absolute; left:15px;top:5px; background:url(../images/page4/left.png) no-repeat;  width:174px; height:128px; background-size:contain; cursor:pointer; }
.m-right { position: absolute; right:10px;bottom:150px; background:url(../images/page4/right.png) no-repeat;  width:261px; height:192px; background-size:contain; cursor:pointer; }

.tips{
	position:absolute;
	top:50%;
	left:40%;
	color:lime;
	z-index: 9999;
}
.m-gear { position:absolute; bottom:0; right:0; background:url(../images/page4/c_3.png) no-repeat; background-size:contain; width:170px; height:170px;}
/*------------------------------手机端 end-------------------------------*/

/*------------------------------联系我们 start---------------------------*/
.c-cont{
	position:absolute;
	width:100%;
	height:100%;
}
#c-map { margin-top:80px; width:100%; height:350px; border:1px solid #ccc; }

.g-contact ul { display:-webkit-box; padding-top:30px; }
.g-contact ul li {padding-left:120px;line-height:100px; font-size:20px; font-family:'微软雅黑';  -webkit-box-flex:1; width:100px; height:100px; }
.g-contact ul li:nth-child(1) { background:url(../images/phone.png) no-repeat;  background-size:contain; }
.g-contact ul li:nth-child(2) { background:url(../images/email.png) no-repeat; background-size:contain; }
.g-contact ul li:nth-child(3) { background:url(../images/weixin.png) no-repeat;background-size:contain; margin-left:60px;}
.g-contact ul li em { }
/*------------------------------联系我们 end---------------------------*/


