.swiper-container {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    overflow: hidden;
}
.swiper-slide {
    height:300px;
    background-position: center;
    background-size: cover;
    background:#000;
    z-index:999;
    border:1px solid #ccc;
    //transition:0.06s;
    animation:0.06s p-mine ;
}
.swiper-slide:hover{
    background:#ccc;
}
@keyframs p-mine{
    10%{
        background-color:#000;
    }
    50%{
        background-color:#CCC;
    }
    100%{
        background-color:#fff;
    }
}
.link-content{
    width: 300px;
    height: 300px;
    padding: 20px 30px 30px 30px;
}
.link-content span{
    width:240px;
    white-space: nowrap;
}
.page3-title{
    width:300px;
    height:30px;
    //text-align: center;
    font:24px/30px "微软雅黑";
    color:red;
    letter-spacing:3px;
}
.page3-dir,.page3-diss{
    font:16px/36px "微软雅黑";
    color:yellow;
}
.page3-dir{
    color:#d9edf7;
    font-weight: bold;
    margin-right:8px;
}
/*---------------------两个旋转的小立方体--------------------*/
.m-wrap,.m-wrap-r{
    width:50px;
    height:50px;
    padding:50px;
    position:absolute;              
    z-index:50;
    transform-style:preserve-3d;
}
.m-wrap{
    left:0px;
    top:0px;
}
.m-wrap-r{
    bottom:10px;
    right:150px;
}
.m-box,.m-box-r{
    width:50px;
    height:50px;
    position:relative;
    transform-style:preserve-3d;
    transform-origin:center center -50px;
    transition:25s;
}
.m-box-r:hover{
    transform:rotateX(1800deg) rotateY(900deg) rotateZ(1800deg);
}
.m-box:hover{
    transform:rotateX(1800deg) rotateY(900deg) rotateZ(1800deg);
}

.m-box-r div,.m-box div{
    width:50px;
    height:50px;
    font-size:20px;
    line-height:50px;
    text-align:center;
    color:#fcfcfc;
}
.m-box-r .div1,.m-box .div1{
    background:#0FF;
    position:absolute;
    top:0;
    left:0;
}
.m-box-r .div2,.m-box .div2{
    background:#222;
    position:absolute;
    left:-50px;
    top:0;
    transform:rotateY(-90deg);
    Transform-origin:right;
}
.m-box-r .div3,.m-box .div3{
    background:#606;
    position:absolute;
    right:-50px;
    top:0;
    transform:rotateY(90deg);
    Transform-origin:left;
}
.m-box-r .div4,.m-box .div4{
    background:yellow;
    position:absolute;
    left:0;
    top:-50px;
    transform:rotateX(90deg);
    Transform-origin: bottom;
}
.m-box-r .div5,.m-box .div5{
    background:orange;
    position:absolute;
    bottom:-50px;
    left:0;
    transform:rotateX(-90deg);
    Transform-origin:top;
}
.m-box-r .div6,.m-box .div6{
    background:plum;
    position:absolute;
    left:0px;
    top:0px;
    transform:translateZ(-50px) rotateY(180deg);
}       